#contact-div{
	height:auto;
	width:100%;
	background-color: #f8f8f8;
}
#contact-text-container{
	display: flex;
	flex-wrap: nowrap;
	height:auto;
	width:100%;
}
#contact-icon-div{
	height:100%;
	width: 25%;
}
#contact-icon-div .fa{
	margin:87px 10% auto 45%;
}
#contact-text-div{
	height:100%;
	width: 75%;
}
#contact-text-div p{
	font-size: 20px;
    margin-top: 78px;
    margin-right: 15%;
    margin-left:-11px;
    margin-bottom: 40px;
}
#contact-form-address-div{
	display: flex;
	flex-wrap: nowrap;
}
#contact-form-div{
	width:65%;
	height:auto;
}
form{
    padding-top:40px;
}
.contact-attr{
	margin-left: 18%;
	line-height: 100px;
}
input[type="text"]{
	margin-left:13%;
	width:50%;
	height:50px;
}
input:hover{
	background-color: #191919;
	color:white;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
}
input[type="email"]{
	margin-left:13%;
	width:50%;
	height:50px;
}
input[type="submit"]{
	margin-left:37.1%;
	width:120px;
	height:50px;
	font-size: 22px;
	margin-bottom: 70px;
	border-radius: 5px;
}
input[type="submit"]:hover{
	background-color: #191919;
}
textarea{
	margin-left: 10.1%;
	margin-top: 30px;
}
textarea:hover{
	background-color: #191919;
	color:white;
	border-radius: 5px;
	padding-left: 10px;
	padding-top: 10px;
}
#subject{
	margin-left:12.4% !important;
}
#mssg-hdr{
	margin-top: 200px !important;
}
#contact-address-div{
	width:35%;
	height:auto;
}
#contact-address-div h5{
	display: flex;
	align-items: flex-start;
	margin-top: 60px;
	margin-left: 30px;
	color:black;
}
#contact-address-div ul{
	display: flex;
	flex-direction: column;
}
#contact-address-div ul li{
	list-style-type: none;
	color:black;
	margin-left: -10px;
	line-height: 30px;
	font-size: 17px;
}
#tweets-header{
    margin-top: 40px !important;
    color:white;
}
#contact-address-div h6{
    display: flex;
    text-align: flex-start;
    text-align: left;
    margin:10px 25% 0 30px;
    color:black;
    font-size: 16px;
    line-height: 25px;
}
#contact-address-div p{
	margin-left: 30px;
	margin-top: 10px;
	color:black;
	font-size: 12px;
}