body{
	font-family: "Open Sans",sans-serif;
	margin:0px;
	padding:0px;
}

.fa{
	color:black;
}

#container{
	width:100%;
	height:auto;
    background-color: #f8f8f8;
}
#logo{
	border-right: 1px solid black;
	padding-right: 15px;
	padding-top:3px;
}
nav{
	margin-top: 10px;
	
}
nav ul{
	display:flex;
	align-items: left;
	text-align: left;
	margin-left:30px;
	align-items:center;	
}
nav ul li{
	margin-left: 15px;
	list-style-type: none;
}
#second-list{
    margin-top: -45px;

}
#second-list ul{
	font-size: 10px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	position: relative;
	margin-right: 80px;
}
#second-list ul li{
	margin-left:35px;
	list-style-type: none;
}
#second-list ul li a:hover{
    color:black;
    text-decoration: none;
}
#second-list ul li a{
	color:#aeaeae;
}
#login-hdr{
	text-align: center;
	color: #222;
	margin-top: 80px;
	margin-right: 30px;
}
#login-form-container{
	width:30%;
	height: auto;
	border: 1px solid #e1e1e1;
    margin:30px auto 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.04);
    background-color: white;
    margin-bottom: 50px;
}
.attr-margin{
	margin-left: 20px;
	margin-top: 18px;
	margin-bottom: 20px;
}
#email{
	width:90%;
	margin-bottom: 20px;
	height:40px;
	border: 1px solid #e1e1e1;
}
#Password{
	width:90%;
	height:40px;
	border: 1px solid #e1e1e1;
}
#login-btn{
	  margin:10px 40% 0 40%;
	  width:80px;
	  height:40px;
	  background-color: #20b555;
	  border-radius: 5px;
	  color: white;
	  padding-left: 8px;
}
input[type="submit"]{
	display: flex;
    justify-content: center;
}
input[type="submit"]:hover {
    background: #4954ac;
}
hr{
	width:80%;
}
#login-form-container p{
	text-align: center;
}
#login-form-container a{
	text-decoration: none;
}
.social-logins{
	width:90%;
	height:40px;
	margin:5px auto 10px auto;
	background-color:#4267b2;
	border-radius: 3px;
	display: flex;
	align-items:center;
	color:white;
	word-wrap: nowrap;
}
.social-logins:hover{
	opacity: 0.6;
}
#login-form-container .fa{
	color:white;
	margin-left:5%;
	margin-right:20%;
}
.login-footer{
	background-color: white !important;
}
